*
.*

!docker
docker/volumes

!server
server/src/tests/optimism
server/db
server/*.log

!.env
!api
!app
!blockchain
!evm-ext
!execution
!genesis
!genesis-builder
!genesis-image
!shared
!state
!storage
!Cargo.lock
!Cargo.toml
!rust-toolchain
!trie
