*
.*

!docker

!server
server/src/tests/optimism
server/db
server/*.log

!.env

!shared
!state
!genesis-builder
!genesis
!genesis-image
!evm-ext
!storage
!moved
!api
!app
!Cargo.lock
!Cargo.toml
!rust-toolchain
