# System files
.DS_Store
.idea

# Rust build files
target
build

# JS build files
artifacts
cache
dist
node_modules

# Log files from integration tests
server/*.log

# Docker mounted volumes
docker/volumes

# Docker buildx cache directory
.buildx-cache

# Optimism cloned repository
server/src/tests/optimism

# Persistent storage directory
server/db/

