# System files
.DS_Store
.idea

# Rust build files
target
build

# JS build files
artifacts
cache
dist
node_modules

# SDK artifacts
sdk/**/.env
Move.lock

# Log files from integration tests
server/*.log

# Docker mounted volumes
docker/volumes

# Optimism cloned repository
server/src/tests/optimism

# Persistent storage directory
server/db/

