# System files
.DS_Store
.idea

# Rust build files
target
build

# JS build files
artifacts
cache
dist
node_modules

# Log files from integration tests
server/*.log

# Docker mounted volumes
docker/*/volume

# Optimism cloned repository
server/src/tests/optimism

# Persistent storage directory
server/db/

# Load testing logs
load-testing/op_move.log
